body {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}

h1 {
	font-family:sans-serif;
}

#circularTable {
	margin-top:50px;
	margin-bottom:50px;
	width:500px;
	height:500px;
}

fieldset {
	width:500px;
}

.parameterLine {
	margin:10px 0px 10px 0px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

.OtherParameter {
	margin:5px 0px 5px 0px;
}

h6 {
	font-family:initial;
}